:root {
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-theme-color: white;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
}

body {
    font-family: 'Pretendard';
    word-break: keep-all;
    color: #555;
    min-width: 1200px;
}

p {
    line-height: 145%;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



.header {
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    background: white;
    z-index: 20;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header h1 img {
    height: 60px;
    transform: translateY(-5px);
}

.header .gnb::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    background: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    visibility: hidden;
    transition: height 0.4s;
}

.header .gnb:hover::before {
    visibility: visible;
    height: 275px;
}


.header .gnb>ul {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.header .gnb>ul>li {
    position: relative;
    padding: 30px 40px;
}

.header .gnb>ul>li:hover {
    color: #d89fa0;
}


.header .gnb>ul>li:last-of-type {
    padding-right: 0;
}

.header .gnb>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ddd;
    transform: translate(-50%, -50%);
}

.header .gnb>ul>li>ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.4s;
    color: #555;
}

.header .gnb:hover>ul>li>ul {
    visibility: visible;
    height: 250px;
}

.header .gnb>ul>li:last-of-type>ul {
    width: calc(100% + 40px);
}

.header .gnb>ul>li>ul>li {
    margin-bottom: 12px;
}

.header .gnb>ul>li>ul>li:last-of-type {
    margin-bottom: 0;
}

.header .gnb>ul>li>ul>li:first-of-type {
    margin-top: 30px;
}

.header .gnb>ul>li>ul>li>a {
    position: relative;
    transition: color 0.4s;
}

.header .gnb>ul>li>ul>li>a:hover {
    color: #d89fa0;
}

.header .gnb>ul>li>ul>li>a:hover::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    width: 5px;
    height: 5px;
    background: rgba(217, 161, 162, 0.75);
    border-radius: 50%;
}

.main_slide .swiper-slide {
    height: 700px;
    position: relative;
}

.main_slide .item01 {
    background: url(../images/visual01.jpg) no-repeat center center/cover;
}

.main_slide .item02 {
    background: url(../images/visual02.jpg) no-repeat center center/cover;
}

.main_slide .item03 {
    background: url(../images/visual03.jpg) no-repeat center center/cover;
}

.main_slide .text_box {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc((100% - 1170px) / 2 + 600px);
    padding: 75px 0 100px;
    padding-left: calc((100% - 1170px) / 2);
    background: rgba(216, 159, 160, 0.8);
    transform: translateY(-50%);
    color: white;
    border-radius: 0 200px 200px 0;
    backdrop-filter: blur(5px) brightness(0.8);
}

.main_slide .text_box strong {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.main_slide .text_box h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 48px;
    margin-bottom: 35px;
}

.main_slide .text_box p {
    font-family: 'Noto Serif KR', serif;
    font-size: 16px;
}

.main_slide .swiper-pagination {
    bottom: 225px;
    left: calc((100% - 1170px) / 2);
    width: auto;
}

.main_slide .swiper-pagination-bullet {
    position: relative;
    background: white;
    opacity: 1;
}

.main_slide .swiper-pagination-bullet-active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.clinic {
    background: #f7f7f7;
}

.clinic .inner {
    position: relative;
    background: white;
    max-width: 1170px;
    margin-top: -95px;
    padding: 0;
    z-index: 10;
    border-radius: 15px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.clinic h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    background: rgba(216, 159, 160, 0.15);
    padding: 15px 0;
    border-bottom: 1px solid rgba(216, 159, 160, 0.15);
}

.clinic .subject {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 30px 30px;
}

.clinic .subject li~li {
    border-left: 1px solid #f2f2f2;
}

.clinic .subject a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
    text-align: center;
    transition: color 0.4s;
}

.clinic .subject a:hover {
    color: #d89fa0;
}

.clinic .subject a span {
    position: relative;
    font-weight: 500;
}

.clinic .subject a:hover span::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    width: 5px;
    height: 5px;
    background: rgba(217, 161, 162, 0.75);
    border-radius: 50%;
}

.clinic .subject img {
    height: 45px;
}

.clinic_detail {
    background: #f7f7f7;
}

.clinic_detail ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.clinic_detail ul li {
    padding: 100px 20px 100px 40px;
}

.clinic_detail ul li~li {
    border-left: 1px solid #ddd;
}

.clinic_detail figure {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    padding: 15px;
    background: rgba(216, 159, 160, 0.4);
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.clinic_detail strong {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    transition: 0.4s;
}

.clinic_detail p {
    margin-bottom: 30px;
    transition: 0.4s;
}

.clinic_detail a {
    display: inline-block;
    color: #d89fa0;
    transition: 0.4s;
}

.clinic_detail a span {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.4s;
}

.clinic_detail ul li:hover a span {
    width: 80px;
}

.clinic_detail a i {
    /* vertical-align: bottom; */
    font-size: 20px;
}

.place_info {
    padding: 100px 0;
    background: linear-gradient(to bottom, white 80%, #f7f7f7 80%);
}

.place_info>.inner>strong {
    display: block;
    font-size: 18px;
    color: #d89fa0;
    text-align: center;
    margin-bottom: 10px;
}

.place_info h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.place_info p {
    text-align: center;
    margin-bottom: 40px;
}

.place_slide .swiper-slide {
    width: 1170px;
    height: 540px;
    border-radius: 15px;
    transition: filter 0.4s;
    overflow: hidden;
    position: relative;
}

.place_slide .swiper-slide::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.place_slide strong {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 60px;
    background: rgba(216, 159, 160, 0.8);
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    backdrop-filter: blur(5px) brightness(0.8);
}

.place_slide .swiper-slide:not(.swiper-slide-active) {
    filter: grayscale(1);
}

.place_slide .item01 {
    background: url(../images/space_bg_01.jpg) no-repeat center center/cover;
}

.place_slide .item02 {
    background: url(../images/space_bg_02.jpg) no-repeat center center/cover;
}

.place_slide .item03 {
    background: url(../images/space_bg_03.jpg) no-repeat center center/cover;
}

.place_slide .item04 {
    background: url(../images/space_bg_04.jpg) no-repeat center center/cover;
}

.place_slide .item05 {
    background: url(../images/space_bg_05.jpg) no-repeat center center/cover;
}

.place_slide .item06 {
    background: url(../images/space_bg_06.jpg) no-repeat center center/cover;
}

.place_slide .item07 {
    background: url(../images/space_bg_07.jpg) no-repeat center center/cover;
}

.place_slide .item08 {
    background: url(../images/space_bg_08.jpg) no-repeat center center/cover;
}

.place_slide .item09 {
    background: url(../images/space_bg_09.jpg) no-repeat center center/cover;
}

.place_slide .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1226px;
    width: 100%;
    z-index: 10;
}

.place_slide .arrow .left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    padding: 12px;
    background: #d89fa0;
    border-radius: 50%;
    font-size: 32px;
    color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: 10px solid rgba(255, 255, 255, 0);
    transition: outline 0.4s;
}

.place_slide .arrow .left:hover {
    outline: 10px solid rgba(255, 255, 255, 1);
}

.place_slide .arrow .right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 12px;
    background: #d89fa0;
    border-radius: 50%;
    font-size: 32px;
    color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: 10px solid rgba(255, 255, 255, 0);
    transition: outline 0.4s;
}

.place_slide .arrow .right:hover {
    outline: 10px solid rgba(255, 255, 255, 1);
}

.content {
    background: #f7f7f7;
    padding: 0 0 100px;
}

.content .content_list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.content .content_list>li {
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.content .content_list .title {
    display: flex;
    justify-content: space-between;
}

.content .content_list .title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content .content_list .title a {
    line-height: 28px;
}

.content .content_list .title a::after {
    content: '\e93f';
    font-family: xeicon;
}

.content .content_list .title a:hover {
    color: #d89fa0;
}

.content .content_list>li:first-of-type {
    grid-column-end: span 6;
}

.content .content_list>li:nth-of-type(2) {
    grid-column-end: span 6;
}

.content .content_list>li:nth-of-type(3) {
    grid-column-end: span 4;
}

.content .content_list>li:nth-of-type(4) {
    grid-column-end: span 4;
}

.content .content_list>li:nth-of-type(5) {
    grid-column-end: span 4;
}

.content .note ul {
    display: flex;
    gap: 0 20px;
}

.content .note ul>li {
    flex: 1;
}

.content .note figure {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.content .note figure::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.content .note img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s;
}

.content .note strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
}

.content .note li a {
    position: relative;
    color: #d89fa0;
}

.content .note li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #d89fa0;
    transition: width 0.4s;
}

.content .note li a::after {
    content: '\e93f';
    font-family: xeicon;
}

.content .note li:hover img {
    transform: scale(1.1);
}

.content .note li:hover a::before {
    width: calc(100% - 15px);
}

.content .communicate {
    position: relative;
    overflow: hidden;
}

.content .communicate::after {
    content: '';
    position: absolute;
    bottom: -125px;
    right: -125px;
    width: 300px;
    height: 300px;
    background: url(../images/deco_circle.png) no-repeat center center;
    z-index: 0;
    pointer-events: none;
    transform: rotate(-30deg);
    filter: grayscale(1);
}

.content .communicate ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.content .communicate ul a {
    display: grid;
    grid-template-columns: 175px 1fr;
    gap: 0 20px;
    align-items: center;
}

.content .communicate figure {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.content .communicate figure::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.content .communicate strong {
    display: -webkit-box;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.content .communicate strong span {
    font-weight: 700;
}

.content .communicate p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* max-width: 315px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.content li.notice {
    padding: 0;
    overflow: hidden;
}

.content .notice .notice_list {
    display: flex;
}

.content .notice .notice_list>li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 60px;
    font-size: 20px;
}

.content .notice .notice_list>li.active {
    font-weight: 700;
    color: #d89fa0;
}

.content .notice .notice_list>li:not(.active) {
    background: #f1f1f1;
}

.content .notice .notice_cont>li {
    padding: 15px 30px 20px;
}

.content .notice .notice_cont>li:not(.active) {
    display: none;
}

.content .notice .board li {
    padding: 10px 0;
}

.content .notice .board li~li {
    border-top: 1px solid #f2f2f2;
}

.content .notice .board li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content .content_list>.review {
    padding: 30px 30px 20px;
}

.content .review {
    position: relative;
    overflow: hidden;
}

.content .review::after {
    content: '';
    position: absolute;
    bottom: -125px;
    right: -125px;
    width: 300px;
    height: 300px;
    background: url(../images/deco_circle.png) no-repeat center center;
    z-index: 0;
    pointer-events: none;
    transform: rotate(-30deg);
}


.content .review .board li {
    padding: 10px 0;
}

.content .review .board li:first-of-type {
    padding-top: 5px;
}

.content .review .board li~li {
    border-top: 1px solid #f2f2f2;
}

.content .review .board li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content .content_list>.counsel {
    padding: 30px 30px 20px;
}

.content .counsel .board li {
    padding: 5px 0;
}

.content .counsel .board li:first-of-type {
    padding-top: 5px;
}

.content .counsel .board li~li {
    border-top: 1px solid #f2f2f2;
}

.content .counsel .board li a {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content .counsel .board strong {
    line-height: 24px;
}

.content .counsel .board span {
    display: flex;
    align-items: center;
    background: #d89fa0;
    color: white;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 12px;
    border-radius: 12px;
}




.footer {
    padding: 60px 0;
}

.footer_logo img {
    height: 120px;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    gap: 0 50px;
}

.footer .info {
    margin-right: auto;
}

.footer .info .footer_menu {
    display: flex;
    gap: 0 30px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    white-space: nowrap;
}

.footer .info .footer_menu li {
    position: relative;
}

.footer .info .footer_menu li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 1px;
    height: 12px;
    transform: translateY(-50%);
    background: #ddd;
}

.footer .info .footer_menu li strong {
    font-weight: 700;
}

.footer .info .company {
    font-size: 15px;
    font-weight: 300;
    color: #888;
}

.footer .info .company li {
    margin-bottom: 10px;
}

.footer .info .company li:last-of-type {
    margin-bottom: 0;
}

.footer .info .company span~span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 15px;
    background: #ddd;
}

.footer .sns {
    display: flex;
    gap: 0 8px;
}

.footer .sns i {
    font-size: 28px;
    color: #d89fa0;
    padding: 10px;
    border-radius: 50%;
    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.mobile_menu {
    display: none;
}

@media (max-width: 768px) {

    * {
        outline: 1px solid --turquoise;
    }

    body {
        min-width: auto;
    }

    p {
        line-height: 130%;
    }

    .body_fixed {
        overflow-y: hidden;
        height: 100vh;
    }

    .header .inner {
        height: 80px;
    }

    .header.mobile_open h1 {
        position: fixed;
    }

    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        background: white;
        width: calc(100% - 70px);
        height: 100vh;
        padding: 100px 30px 0;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
        transition: left 0.5s;
        overflow-y: scroll;
        z-index: -1;
    }

    .header .gnb::before {
        display: none;
    }

    .header.mobile_open .gnb {
        left: 0;
    }

    .header .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    .header .gnb>ul>li {
        padding: 0;
    }

    .header .gnb>ul>li~li::before {
        display: none;
    }

    .header .gnb>ul>li>a {
        display: block;
        padding: 15px 0;
        text-align: center;
    }

    .header .gnb>ul>li>ul {
        position: static;
        visibility: visible;
        height: auto;
        transition: none;
        display: none;
    }

    .header .gnb>ul>li:last-of-type>ul {
        width: auto;
    }

    .header .gnb:hover>ul>li>ul {
        height: auto;
    }

    .header .gnb>ul>li>ul {
        padding: 15px 0;
    }

    .header .gnb>ul>li>ul>li {
        margin-bottom: 25px;
    }

    .header .gnb>ul>li>ul>li:first-of-type {
        margin-top: 0;
    }

    .main_slide .swiper-slide {
        height: 480px;
    }

    .main_slide .swiper-slide::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 85px;
        background: #f7f7f7;
    }

    .main_slide .text_box {
        top: auto;
        bottom: 0;
        width: calc(100% - 15px);
        min-height: 200px;
        padding: 30px 15px 30px;
        background: #d89fa0;
        transform: none;
    }

    .main_slide .text_box strong {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main_slide .text_box h2 {
        /* font-family: 'Pretendard'; */
        /* font-weight: 600; */
        font-size: 30px;
        margin-bottom: 15px;
    }

    .main_slide .text_box p {
        width: 80vw;
        max-width: 315px;
        min-height: 75px;
        font-family: 'Pretendard';
        font-weight: 300;
        font-size: 14px;
    }

    .main_slide .text_box p br {
        display: none;
    }

    .main_slide .swiper-pagination {
        left: 15px;
        bottom: 25px;
    }

    .clinic_detail ul {
        grid-template-columns: 1fr;
        padding-top: 15px;
    }

    .clinic_detail ul li {
        padding: 15px 0;
        display: grid;
        grid-template-columns: 70px 1fr;
        align-items: center;
        gap: 15px;
    }

    .clinic {
        padding: 30px 15px 0;
    }

    .clinic .inner {
        margin-top: 0;
    }

    .clinic h2 {
        margin-bottom: 15px;
    }

    .clinic .subject {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 0;
        padding: 0 15px 15px;
    }

    .clinic .subject li:nth-of-type(4n+1) {
        border-left: none;
    }

    .clinic_detail ul li~li {
        border-left: none;
        border-top: 1px solid rgba(0, 0, 0, 0.06);
    }

    .clinic_detail {
        padding-bottom: 30px;
    }

    .clinic_detail figure {
        padding: 10px;
        margin-bottom: 0;
    }

    .clinic_detail ul li .text {
        position: relative;
    }

    .clinic_detail strong {
        font-size: 18px;
    }

    .clinic_detail p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .clinic_detail a {
        position: absolute;
        top: 0;
        right: 0;
    }

    .clinic_detail a span {
        display: none;
    }

    .place_info {
        padding: 60px 0 30px;
    }

    .place_info>.inner>strong {
        font-size: 16px;
    }

    .place_info h2 {
        font-size: 24px;
    }

    .place_info p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .place_info p br {
        display: none;
    }

    .place_slide {
        padding: 0 15px;
    }

    .place_slide .swiper-slide {
        height: 320px;
    }

    .place_slide strong {
        width: 180px;
        height: 36px;
        font-size: 18px;
    }

    .place_slide .arrow .left {
        left: 30px;
        background: white;
        font-size: 20px;
        padding: 10px;
        color: #d89fa0;
        outline: none;
    }

    .place_slide .arrow .right {
        right: 30px;
        background: white;
        font-size: 20px;
        padding: 10px;
        color: #d89fa0;
        outline: none;
    }

    .place_slide .arrow .left:hover {
        outline: none;
    }

    .place_slide .arrow .right:hover {
        outline: none;
    }

    .content {
        padding: 0 0 60px;
    }

    .content .content_list {
        grid-template-columns: 1fr;
        gap: 30px 0;
    }

    .content .content_list>li {
        display: block;
        padding: 20px 15px;
    }

    .content li.notice {
        padding: 0;
    }

    .content .notice .notice_cont>li {
        padding: 10px 15px 15px;
    }

    .content .content_list .title h2 {
        font-size: 24px;
    }

    .content .content_list .title a {
        line-height: 24px;
    }

    .content .note ul {
        flex-direction: column;
        gap: 30px 0;
    }

    .content .note strong {
        font-size: 16px;
    }

    .content .note li a {
        font-size: 14px;
    }

    .content .communicate ul a {
        grid-template-columns: 1fr;
        gap: 15px 0;
    }

    .content .content_list>.review {
        padding: 20px 15px 10px;
    }

    .content .content_list>.counsel {
        padding: 20px 15px 10px;
    }

    .footer {
        padding: 40px 0;
    }

    .footer .inner {
        flex-direction: column;
        gap: 20px 0;
        justify-content: center;
        text-align: center;
    }

    .footer .info .footer_menu {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 30px;
        font-size: 16px;
    }

    .footer .info .company li span {
        display: block;
        line-height: 130%;
    }

    .footer .info .company span~span::before {
        display: none;
    }

    .footer .sns {
        justify-content: center;
    }

    .footer .sns i {
        font-size: 24px;
        padding: 6px;
    }

    .mobile_menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 15px;
        width: 40px;
        height: 40px;
        background-color: #d89fa0;
        overflow: hidden;
        border-radius: 3px;
        z-index: 20;
    }

    .mobile_menu button {
        border: none;
        background: none;
        outline: none;
    }

    .mobile_menu button::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 8px;
        width: calc(100% - 16px);
        height: 4px;
        background: white;
        transition: 0.5s;
        border-radius: 2px;
    }

    .mobile_menu button::after {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 8px;
        width: calc(100% - 16px);
        height: 4px;
        background: white;
        transition: 0.5s;
        border-radius: 2px;
    }

    .mobile_menu span {
        position: absolute;
        top: 50%;
        left: 8px;
        right: 8px;
        width: calc(100% - 16px);
        height: 4px;
        background: white;
        transform: translate(0, -50%);
        transition: 0.3s;
        opacity: 1;
        border-radius: 2px;
    }

    .mobile_menu.active button::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .mobile_menu.active button::after {
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    .mobile_menu.active span {
        width: 0;
        opacity: 0;
    }


}